.new-entry {
  min-height: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin: 0 auto;
  width: var(--home-content-width);
}

.new-entry__types {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 2px solid rgba(var(--primary-color-hover-rgb), 0.35);
}

.new-entry__types-legend {
  padding: 0 4px;
}

.new-entry__type {
  display: flex;
  align-items: center;
  gap: 4px;
}

.new-entry__date {
  display: flex;
  width: 100%;
  gap: 8px;
  border: 2px solid rgba(var(--primary-color-hover-rgb), 0.35);
}

.new-entry__date-part {
  flex: 1;
}

.new-entry__date-input {
  min-width: 0;
  width: 100%;
}

.new-entry__name {
  display: block;
}

.new-entry__submit-btn {
  height: 40px;
  padding: 0 16px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.new-entry__submit-btn:hover,
.new-entry__submit-btn:focus {
  color: #fff;
  background-color: var(--primary-color-hover);
}
